In [1]:
import pandas as pd

df = pd.read_csv('clients.csv')
display(df)

     identifiant                            email                nom genre
0              0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1              1            GuyMarois@fleckens.hu         Guy Marois     M
2              2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3              3        RussellDurand@armyspy.com     Russell Durand     M
4              4             AlexisRiel@rhyta.com        Alexis Riel     M
..           ...                              ...                ...   ...
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [ ]:
df_json = pd.read_json('clients.json')
display(df_json)

In [ ]:
df_xslx = pd.read_excel('clients.xlsx')
display(df_xslx)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   identifiant  228 non-null    int64
 1   email        228 non-null    object
 2   nom          228 non-null    object
 3   genre        228 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.3+ KB

In [ ]:
df.describe(include='all')

In [ ]:
df.shape

In [ ]:
dim = df.shape
print(dim[0]) # 228
print(dim[1]) # 4

In [ ]:
df.dtypes

In [ ]:
clients_array = df.values
display(clients_array)

In [ ]:
display(df.head())

In [ ]:
display(df.tail(2))

In [2]:
variables = ['nom', 'email']
df[variables]
df[['nom', 'email']]

                   nom                            email
0     Laurent Dagenais        LaurentDagenais@rhyta.com
1           Guy Marois            GuyMarois@fleckens.hu
2      Beaufort Lesage        BeaufortLesage@einrot.com
3       Russell Durand        RussellDurand@armyspy.com
4          Alexis Riel             AlexisRiel@rhyta.com
..                 ...                              ...
223  Claude Dandonneau  ClaudeDandonneau@jourrapide.com
224   Apolline Michaud    ApollineMichaud@superrito.com
225  Pascaline Beaudry       PascalineBeaudry@rhyta.com
226     Fleur Caouette     FleurCaouette@jourrapide.com
227      Francis Masse      FrancisMasse@jourrapide.com

[228 rows x 2 columns]

In [ ]:
df['identifiant'] = np.random.randint(1, 1000, clients.shape[0])

In [2]:
df['id'] = df['identifiant'] + 1000

df.head()

   identifiant                      email               nom genre    id
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M  1000
1            1      GuyMarois@fleckens.hu        Guy Marois     M  1001
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M  1002
3            3  RussellDurand@armyspy.com    Russell Durand     M  1003
4            4       AlexisRiel@rhyta.com       Alexis Riel     M  1004

In [ ]:
"""del df['id']
df.pop('id')
df = df.drop(columns='id')
df.head()
df.head()"""

In [3]:
#df.rename(columns={'identifiant': 'ide'}, inplace=True)
display(df)

     ide                            email                nom genre
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais     M
1      1            GuyMarois@fleckens.hu         Guy Marois     M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage     M
3      3        RussellDurand@armyspy.com     Russell Durand     M
4      4             AlexisRiel@rhyta.com        Alexis Riel     M
..   ...                              ...                ...   ...
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224  224    ApollineMichaud@superrito.com   Apolline Michaud     F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226  226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227  227      FrancisMasse@jourrapide.com      Francis Masse     M

[228 rows x 4 columns]

In [5]:
df['ide'].astype(float)

0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
       ...
223    223.0
224    224.0
225    225.0
226    226.0
227    227.0
Name: ide, Length: 228, dtype: float64

In [7]:
df['ide'].astype(int)

0        0
1        1
2        2
3        3
4        4
      ...
223    223
224    224
225    225
226    226
227    227
Name: ide, Length: 228, dtype: int64

In [9]:
df.sort_values('ide', ascending=False)

     ide                            email                nom genre
227  227      FrancisMasse@jourrapide.com      Francis Masse     M
226  226     FleurCaouette@jourrapide.com     Fleur Caouette     F
225  225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
224  224    ApollineMichaud@superrito.com   Apolline Michaud     F
223  223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
..   ...                              ...                ...   ...
4      4             AlexisRiel@rhyta.com        Alexis Riel     M
3      3        RussellDurand@armyspy.com     Russell Durand     M
2      2        BeaufortLesage@einrot.com    Beaufort Lesage     M
1      1            GuyMarois@fleckens.hu         Guy Marois     M
0      0        LaurentDagenais@rhyta.com   Laurent Dagenais     M

[228 rows x 4 columns]

In [10]:
df.sort_values(['genre', 'nom'], ascending=[True, False])

     ide                           email                nom genre
53    53         ZurieTheberge@gustr.com     Zurie Theberge     F
112  112            ZoeLeclair@gustr.com        Zoe Leclair     F
64    64            YvetteDAvis@cuvox.de      Yvette D Avis     F
18    18       YseultCharest@armyspy.com     Yseult Charest     F
158  158        YoletteMoreau@dayrep.com     Yolette Moreau     F
..   ...                             ...                ...   ...
62    62          AleronBerard@rhyta.com      Aleron Berard     M
204  204          AimeMarseau@dayrep.com       Aime Marseau     M
16    16  AgricanFoucault@jourrapide.com   Agrican Foucault     M
7      7        AgramantPepin@dayrep.com     Agramant Pepin     M
202  202      AgramantGrandpre@rhyta.com  Agramant Grandpre     M

[228 rows x 4 columns]

In [ ]:
di