In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv('prets.csv')

In [7]:
display(data)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
...,...,...,...,...,...,...,...,...
239,224,PARIS,75008,5118.0,1248.79,300,immobilier,1.206
240,224,PARIS,75008,5118.0,238.20,25,automobile,3.423
241,225,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172
242,226,PARIS,75002,5098.0,2910.96,240,immobilier,1.140
243,227,PARIS,75015,2348.0,434.38,300,immobilier,1.157

In [8]:
data.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014

In [19]:
data.loc[data['type'] == 'automobile'].sort_values('revenu', ascending=False)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
100,95,PARIS,75016,6069.0,341.4,24,automobile,3.644
1,1,PARIS,75009,5310.0,240.0,64,automobile,3.701
240,224,PARIS,75008,5118.0,238.2,25,automobile,3.423
106,101,LYON,69008,4737.0,214.8,47,automobile,3.487
67,64,LYON,69004,4326.0,236.1,46,automobile,3.124
65,63,NICE,6300,4114.0,302.9,24,automobile,3.092
225,211,TOULOUSE,31400,3724.0,215.0,43,automobile,3.374
132,124,NICE,6000,3493.0,309.9,56,automobile,3.012
172,159,PARIS,75010,3238.0,315.8,55,automobile,2.995
141,133,PARIS,75011,3099.0,291.2,78,automobile,3.508
209,195,LYON,69006,2468.0,337.9,38,automobile,3.472
120,113,MARSEILLE,13006,2314.0,253.2,49,automobile,2.954
154,144,MARSEILLE,13010,2240.0,316.6,81,automobile,3.267
87,83,TOULOUSE,31000,2207.0,253.3,60,automobile,2.975
159,148,TOULOUSE,31000,1872.0,250.5,80,automobile,3.519
158,147,MARSEILLE,13015,1288.0,269.8,30,automobile,3.314

In [11]:
data.loc[data['type'] == 'automobile', ['identifiant', 'revenu']]

     identifiant  revenu
1              1  5310.0
65            63  4114.0
67            64  4326.0
87            83  2207.0
100           95  6069.0
106          101  4737.0
120          113  2314.0
132          124  3493.0
141          133  3099.0
154          144  2240.0
158          147  1288.0
159          148  1872.0
172          159  3238.0
209          195  2468.0
225          211  3724.0
240          224  5118.0

In [24]:
data.loc[(data['revenu'] >= 3000) & (data['type'] == 'automobile'), :].sort_values('revenu', ascending=False).head(15)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
100,95,PARIS,75016,6069.0,341.4,24,automobile,3.644
1,1,PARIS,75009,5310.0,240.0,64,automobile,3.701
240,224,PARIS,75008,5118.0,238.2,25,automobile,3.423
106,101,LYON,69008,4737.0,214.8,47,automobile,3.487
67,64,LYON,69004,4326.0,236.1,46,automobile,3.124
65,63,NICE,6300,4114.0,302.9,24,automobile,3.092
225,211,TOULOUSE,31400,3724.0,215.0,43,automobile,3.374
132,124,NICE,6000,3493.0,309.9,56,automobile,3.012
172,159,PARIS,75010,3238.0,315.8,55,automobile,2.995
141,133,PARIS,75011,3099.0,291.2,78,automobile,3.508

In [26]:
clients = pd.read_csv('prets.csv')

In [27]:
display(clients.loc[0:10, :])
display(clients.iloc[0:10, :])

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
5,4,MARSEILLE,13012,1476.0,423.61,240,immobilier,1.209
6,5,PARIS,75016,2476.0,836.89,240,immobilier,1.116
7,6,LYON,69008,1867.0,711.33,240,immobilier,1.196
8,7,NICE,6000,5486.0,2956.95,300,immobilier,1.184
9,8,BORDEAUX,33200,3578.0,751.38,180,immobilier,1.316
10,9,MARSEILLE,13012,1386.0,612.61,180,immobilier,1.284

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014
5,4,MARSEILLE,13012,1476.0,423.61,240,immobilier,1.209
6,5,PARIS,75016,2476.0,836.89,240,immobilier,1.116
7,6,LYON,69008,1867.0,711.33,240,immobilier,1.196
8,7,NICE,6000,5486.0,2956.95,300,immobilier,1.184
9,8,BORDEAUX,33200,3578.0,751.38,180,immobilier,1.316

In [29]:
# création d’un data frame trié pour ‘désordonner’ les Index

df_temp = clients.sort_values('revenu')

display(df_temp)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
144,135,MARSEILLE,13013,1200.0,318.00,180,immobilier,1.314
61,60,MARSEILLE,13012,1201.0,688.17,240,immobilier,1.113
230,215,MARSEILLE,13006,1266.0,238.01,240,immobilier,1.142
157,147,MARSEILLE,13015,1288.0,199.64,240,immobilier,1.123
158,147,MARSEILLE,13015,1288.0,269.80,30,automobile,3.314
...,...,...,...,...,...,...,...,...
206,193,PARIS,75003,6490.0,1765.28,240,immobilier,1.107
129,122,PARIS,75001,6536.0,2457.54,120,immobilier,1.038
83,80,PARIS,75019,6783.0,2197.69,180,immobilier,1.215
186,173,PARIS,75006,6784.0,3744.77,180,immobilier,1.248
137,129,PARIS,75012,6807.0,1899.15,180,immobilier,1.271

In [30]:
# reset_index :

display(df_temp.reset_index())

,index,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,144,135,MARSEILLE,13013,1200.0,318.00,180,immobilier,1.314
1,61,60,MARSEILLE,13012,1201.0,688.17,240,immobilier,1.113
2,230,215,MARSEILLE,13006,1266.0,238.01,240,immobilier,1.142
3,157,147,MARSEILLE,13015,1288.0,199.64,240,immobilier,1.123
4,158,147,MARSEILLE,13015,1288.0,269.80,30,automobile,3.314
...,...,...,...,...,...,...,...,...,...
239,206,193,PARIS,75003,6490.0,1765.28,240,immobilier,1.107
240,129,122,PARIS,75001,6536.0,2457.54,120,immobilier,1.038
241,83,80,PARIS,75019,6783.0,2197.69,180,immobilier,1.215
242,186,173,PARIS,75006,6784.0,3744.77,180,immobilier,1.248
243,137,129,PARIS,75012,6807.0,1899.15,180,immobilier,1.271

In [32]:
df_temp.iloc[144]

identifiant              11
ville              BORDEAUX
CP                    33200
revenu               3346.0
remboursement       1013.84
duree                   240
type             immobilier
taux                  1.199
Name: 12, dtype: object

In [33]:
display(df_temp.reset_index(drop=True))
df_temp.iloc[144]

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,135,MARSEILLE,13013,1200.0,318.00,180,immobilier,1.314
1,60,MARSEILLE,13012,1201.0,688.17,240,immobilier,1.113
2,215,MARSEILLE,13006,1266.0,238.01,240,immobilier,1.142
3,147,MARSEILLE,13015,1288.0,199.64,240,immobilier,1.123
4,147,MARSEILLE,13015,1288.0,269.80,30,automobile,3.314
...,...,...,...,...,...,...,...,...
239,193,PARIS,75003,6490.0,1765.28,240,immobilier,1.107
240,122,PARIS,75001,6536.0,2457.54,120,immobilier,1.038
241,80,PARIS,75019,6783.0,2197.69,180,immobilier,1.215
242,173,PARIS,75006,6784.0,3744.77,180,immobilier,1.248
243,129,PARIS,75012,6807.0,1899.15,180,immobilier,1.271

identifiant              11
ville              BORDEAUX
CP                    33200
revenu               3346.0
remboursement       1013.84
duree                   240
type             immobilier
taux                  1.199
Name: 12, dtype: object

In [40]:
data.iloc[:3, -1:]

    taux
0  1.168
1  3.701
2  1.173

In [41]:
data.iloc[:3, -1:] = 1.05

In [42]:
display(data.iloc[:3, -1:])

   taux
0  1.05
1  1.05
2  1.05

In [49]:
data.loc[data['ville'] == 'PARIS', 'taux']=1.05
data.loc[data['ville'] == 'PARIS', :].head(20)

    identifiant  ville     CP  revenu  remboursement  duree        type  taux
1             1  PARIS  75009  5310.0         240.00     64  automobile  1.05
2             1  PARIS  75009  5310.0        1247.85    300  immobilier  1.05
6             5  PARIS  75016  2476.0         836.89    240  immobilier  1.05
11           10  PARIS  75011  2293.0         378.34    240  immobilier  1.05
16           15  PARIS  75003  4109.0        1220.37    240  immobilier  1.05
17           16  PARIS  75001  6118.0        1505.03    240  immobilier  1.05
18           17  PARIS  75011  4926.0        1507.36    240  immobilier  1.05
24           23  PARIS  75011  4469.0        1018.93    240  immobilier  1.05
26           25  PARIS  75009  5533.0        1394.32    300  immobilier  1.05
27           26  PARIS  75017  4265.0        1100.37    240  immobilier  1.05
28           27  PARIS  75001  1879.0         509.21    180  immobilier  1.05
36           35  PARIS  75116  2172.0         436.57    300  immobilier  1.05
37           36  PARIS  75012  5525.0        1922.70    240  immobilier  1.05
38           37  PARIS  75004  2760.0         455.40    300  immobilier  1.05
51           50  PARIS  75012  5900.0        1876.20    120  immobilier  1.05
59           58  PARIS  75012  2415.0         664.12    120  immobilier  1.05
70           67  PARIS  75014  5598.0        2395.94    240  immobilier  1.05
75           72  PARIS  75012  5981.0        2230.91    240  immobilier  1.05
78           75  PARIS  75018  3133.0         629.73    240  immobilier  1.05
83           80  PARIS  75019  6783.0        2197.69    180  immobilier  1.05

In [51]:
mask = data['ville'] == 'MARSEILLE'
data.loc[mask, 'taux'] = data.loc[mask, 'taux'] + 0.05
data.head(10)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.050
1,1,PARIS,75009,5310.0,240.00,64,automobile,1.050
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.050
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,1.072
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.114
5,4,MARSEILLE,13012,1476.0,423.61,240,immobilier,1.309
6,5,PARIS,75016,2476.0,836.89,240,immobilier,1.050
7,6,LYON,69008,1867.0,711.33,240,immobilier,1.196
8,7,NICE,6000,5486.0,2956.95,300,immobilier,1.184
9,8,BORDEAUX,33200,3578.0,751.38,180,immobilier,1.316